In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(r"C:\Users\mailt\Desktop\Github Projects\Recommendation-Systems\datasets\title.basics.tsv", sep="\t")
df1.drop(columns=["primaryTitle"], inplace=True)

df2 = pd.read_csv(r"C:\Users\mailt\Desktop\Github Projects\Recommendation-Systems\datasets\title.akas.tsv", sep="\t")
df2.drop(columns=["ordering", "region", "attributes","language","title"], inplace=True)
df2.reset_index(inplace=True, drop=True)
df2.rename(columns={"titleId": "tconst"},inplace=True)

df3 = pd.read_csv(r"C:\Users\mailt\Desktop\Github Projects\Recommendation-Systems\datasets\ratings.tsv", sep="\t")

df = pd.merge(df1, df2, on='tconst')
df = pd.merge(df, df3, on='tconst')


df.isOriginalTitle = [int(x) for x in df.isOriginalTitle]
df.averageRating = [int(x*100) for x in df.averageRating]
df = df[df.isOriginalTitle == 1]
df.drop(columns=["isOriginalTitle"], inplace=True)
df.reset_index(inplace=True, drop=True)

C:\Users\mailt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mailt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.drop(df[df['titleType'] == "short"].index, inplace = True)
df.drop(df[df['titleType'] == "movie"].index, inplace = True)
df.drop(df[df['titleType'] == "video"].index, inplace = True)
df.drop(df[df['titleType'] == "videoGame"].index, inplace = True)
df.drop(df[df['titleType'] == "tvMovie"].index, inplace = True)
df.drop(df[df['titleType'] == "tvMiniSeries"].index, inplace = True)

df.reset_index(inplace=True, drop=True)

In [4]:
df = df[df.numVotes >= 500 ]
df = df[df.averageRating >= 500 ]

df = df[df.runtimeMinutes != "\\N" ]
df = df[df.startYear != "\\N" ]
df = df[df.genres != "\\N" ]

df.startYear = [int(x) for x in df.startYear]
df = df[df.startYear >= 2000 ]
df.runtimeMinutes = [int(x) for x in df.runtimeMinutes]
df = df[df.runtimeMinutes >= 15 ]

In [5]:
df.shape

(7116, 11)

In [6]:
df.drop(columns=["titleType", "isAdult", "endYear","types"], inplace=True)

In [7]:
df.head()

,tconst,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
6970,tt0160904,Spooks,2002,60,"Action,Crime,Drama",819,15181
7475,tt0167701,Randall & Hopkirk (Deceased),2000,50,"Comedy,Crime,Fantasy",660,630
7969,tt0178132,Don Matteo,2000,50,"Comedy,Crime,Drama",600,1144
8205,tt0182919,Murder with Too Many Notes,2000,98,"Crime,Drama,Mystery",680,1516
8941,tt0199421,Higher Ground,2000,60,Drama,819,1429

In [8]:
df.describe()

         startYear  runtimeMinutes  averageRating      numVotes
count  7116.000000     7116.000000    7116.000000  7.116000e+03
mean   2012.771220       53.869449     745.120714  1.158796e+04
std       5.806744       57.528634      90.335517  5.052960e+04
min    2000.000000       15.000000     500.000000  5.000000e+02
25%    2008.000000       30.000000     690.000000  9.267500e+02
50%    2014.000000       44.000000     750.000000  1.989000e+03
75%    2018.000000       60.000000     810.000000  5.506250e+03
max    2021.000000     1248.000000    1000.000000  1.861438e+06

In [9]:
df.sort_values(by=['averageRating'],inplace=True,ascending=False)

In [10]:
df.to_csv(r"C:\Users\mailt\Desktop\Github Projects\Recommendation-Systems\datasets\processed_df.csv",index=False)